<div class="panel panel-info">
  <div class="panel-heading">
    <h4><b>メッセージ一覧</b></h4>
  </div>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>
  
<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
        <%= message.body %>
        (<%= link_to "edit" , edit_message_path(message) %>)
      <br>
    <% end %>
  </div>